<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>登录</title>
 </head>
 <body>
  	<form id="signIn">
  		<label for='username'>用户名：</label>
  		<input type='text' id='username'>
  		<br>
  		<label for='upwd'>密码：</label>
  		<input type='password' id='upwd'>
  		<br>
  		<input type="button" id='sub' value='登录'>
  	</form>
  	<span id="pro"></span>
  	<script type="text/javascript" src='js/jquery-1.11.3.js'></script>
  	<script type="text/javascript" src='js/js.js'></script>
 </body>
</html>
