<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>注册页</title>
    <script type="text/javascript" src="../../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../../js/js.js"></script>
 </head>
 <body>
  	<form id="formTest" action="">
  		<div>
  			<label for='uname'>姓名：</label>
  			<input type="text" id='uname' name='uname'>
  		</div>
  		<div>
  			<label for='phone'>手机号(用户名)：</label>
  			<input type="text" id='phone' name='phone'>
  		</div>
  		<div>
  			<label for='password'>密码：</label>
  			<input type="password" id='password' name='password'>
  		</div>
  		<div>
  			<label for="tpassword">确认密码：</label>
  			<input type="password" id='tpassword' name='tpassword'>
  		</div>
  		<div>
  			<label for="email">邮箱：</label>
  			<input type="text" id='email' name='email'>
  		</div>
  		<div>
            <div>
				<label for="code" class="control-label">验证码：</label>
				<input type="text" id="code" name='code'/>
            </div>
			
				<div id="Verify"><p></p></div>
      <div id="code">
				<input type="button" value='重新获取' id="button" onclick="getCode()">
			</div>
		</div>
		<div id='err'></div>
		<div>
			<input type="button" value='注册' id="but" onclick="sub()">
		</div>
  	</form>
 </body>
</html>
